<div id="text_center">
  <div id="display_inline">
    <h1>Statistics</h1>

    <%= render "form" %>

    Rooms taken from <%= @statistics.valid_from %> do <%= @statistics.valid_to %><br>

    <table align="center">
      <tr>
        <th> Room Type</th>
        <th> Rooms taken</th>
        <th> Rooms free</th>
      </tr>
      <% @room_types.each_with_index do |room, index| %>
        <tr>
          <th><%= room.name %></th>
          <th><%= @statistics.reservations_taken(room.id) %></th>
          <% if RoomType::MAX_EACH_ROOM_COUNT - @statistics.reservations_taken(room.id) < 0 %>
            <th>0</th>
          <% else %>
            <th><%= RoomType::MAX_EACH_ROOM_COUNT - @statistics.reservations_taken(room.id) %></th>
          <% end %>
        </tr>
      <% end %>
    </table>

   All taken rooms: <%= @reservations_taken %><br>
    All free rooms: <%= @reservations_left %><br>

    Free parkings spots: <%= Parking::AVAILABLE_PARKING_SPOTS - @parkings_taken %><br>
    Taken parking spots: <%= @parkings_taken %><br>

    Amount of people who visited hotel: <%= @people_visited_hotel %>
  </div>
</div>