<%= form_with(model: parking, local: true) do |form| %>
  <% if parking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parking.errors.count, "error") %> prohibited this parking from being saved:</h2>

      <ul>
      <% parking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :valid_from %>
    <%= form.date_select :valid_from, id: :parking_valid_from %>
  </div>

  <div class="field">
    <%= form.label :valid_to %>
    <%= form.date_select :valid_to, id: :parking_valid_to %>
  </div>

  <div class="field">
    <%= form.label :reservation_id %>
    <%= form.text_field :reservation_id, id: :parking_reservation_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
