<p id="notice"><%= notice %></p>

<h1>Parkings</h1>
<div id="text_center">
  <div id="display_inline">
    <table>
      <thead>
      <tr>
        <th>Index</th>
        <th>Valid from</th>
        <th>Valid to</th>
        <th>Reservation</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @parkings.each_with_index do | parking,index| %>
        <tr>
          <td><%= index %></td>
          <td><%= parking.valid_from %></td>
          <td><%= parking.valid_to %></td>
          <td><%= link_to "#{parking.reservation.user.first_name} #{parking.reservation.user.last_name}", user_path(parking.reservation.user) %></td>
          <td><%= link_to 'Show', parking %></td>
          <td><%= link_to 'Edit', edit_parking_path(parking) %></td>
          <td><%= link_to 'Destroy', parking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Praking', new_parking_path %>

  </div>
</div>
